<%= render "layouts/flash" %>
<div class="container is-max-desktop">
  <section class="section">
    <h3 class="title is-3">Edit your Review for <%= @apartment.name %></h3>
  </section>
  <%= form_tag comment_path(@comment), method: :put do %>
    <%= hidden_field :comment, :apartment_id, value: @apartment.id  %>
    <%= hidden_field :comment, :user_id, value: session[:user_id]  %>
    <div class="field">
      <div class="label">
        <%= label :comment, :rating, 'Rating', class: 'label' %>
      </div>
      <div class="control">
        <%= text_field :comment, :rating, class: 'input', id: 'input-rating' %>
      </div>
      <p class="help is-danger is-hidden" id="warning-rating">
        The rating must be an integer between 0 and 100
      </p>
    </div>
    <div class="field">
      <div class="label">
        <%= label :comment, :comment, 'Comment', class: 'label' %>
      </div>
      <div class="control">
        <%= text_area :comment, :comment, class: 'textarea', placeholder: 'Write your comment here...', id: 'input-comment' %>
      </div>
      <p class="help is-info is-hidden" id="warning-comment">
        You need ? more words to comment.
      </p>
    </div>
    <div class="field">
      <div class="label">
        <%= label :comment, :tags, 'Tags', class: 'label' %>
      </div>
      <div class="control">
        <%= text_field :comment, :tags, class: 'input', id: 'input-tags', placeholder: 'Add up to 5 tags less than 10 characters' %>
      </div>
    </div>
    <div class="field is-grouped">
      <div class="control">
        <%= submit_tag 'Save', class: 'button is-primary', id: 'btn-submit' %>
      </div>
      <p class="control">
        <%= link_to 'Cancel', apartment_path(@apartment), class: 'button is-light' %>
      </p>
    </div>
  <% end %>
</div>

<%= javascript_include_tag 'comment' %>
