<%= render "layouts/flash" %>

<section class="section">
  <h2 class="title is-2">Edit <strong style="color: deepskyblue"><%= @apartment.name %></strong></h2>
</section>

<%= form_tag apartment_path(@apartment), method: :put, multipart: true do %>
  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <%= label :apartment, :name, 'Name', class: 'label' %>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="field has-addons">
          <%= text_field :apartment, :name, class: 'input', placeholder: 'Apartment name', id: 'input-aptmt-name' %>
        </div>
        <p class="help is-danger is-hidden" id="warning-aptmt-name">
          Not a valid apartment name.
        </p>
      </div>
    </div>
  </div>
  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <%= label :apartment, :price, 'Price', class: 'label' %>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="field has-addons">
          <p class="control">
            <a class="button is-static">
              $
            </a>
          </p>
          <p class="control">
            <%= text_field :apartment, :price, class: 'input', placeholder: 'Price', id: 'input-price' %>
          </p>
        </div>
        <p class="help is-danger is-hidden" id="warning-price">
          This field must be integer only.
        </p>
      </div>
    </div>
  </div>
  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <%= label :apartment, :address, 'Address', class: 'label' %>
    </div>
    <div class="field-body">
      <div class="field">
        <%= text_field :apartment, :address, class: 'input', placeholder: 'Address', id: 'input-addr' %>
        <p class="help is-danger is-hidden" id="warning-addr">
          Not a valid address.
        </p>
      </div>
    </div>
  </div>
  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <%= label :apartment, :description, 'Description', class: 'label' %>
    </div>
    <div class="field-body">
      <%= text_area :apartment, :description, class: 'textarea', placeholder: 'Description' %>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label is-normal">

    </div>
    <div class="field-body">
      <img src="data:image/jpeg;base64,<%= @apartment.image %>" style="display:block;margin-left:auto;margin-right:auto;" width="720px" height="540px" id="image_preview"/>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <%= label :apartment, :image, 'Image', class: 'label' %>
    </div>
    <div class="field-body">
      <%= file_field :apartment, :image, accept: "image/jpeg,image/png", class: 'input', :onchange => "previewFile()", :id => "upload_image" %>
    </div>
  </div>

  <script>
      function imageShow() {
          var image = document.getElementById('image_preview');
          if (image.src === "data:image/jpeg;base64,") {
              image.style.display = 'none';
          }
      }

      imageShow();

      function previewFile() {
          var preview = document.getElementById('image_preview');
          file = document.getElementById('upload_image').files[0]
          var reader = new FileReader();
          reader.addEventListener("load", function () {
              preview.src = reader.result;
          }, false);

          if (file) {
              reader.readAsDataURL(file);
          }

          imageShow();
      }
  </script>

  <div class="field is-horizontal">
    <div class="field-label">
      <!-- Left empty for spacing -->
    </div>
    <div class="field-body">
      <div class="field is-grouped">
        <div class="control">
          <%= submit_tag 'Update', class: 'button is-primary', id: 'btn-save' %>
        </div>
        <p class="control">
          <%= link_to 'Cancel', apartment_path(@apartment), class: 'button is-light' %>
        </p>
      </div>
    </div>
  </div>
<% end %>

<%= javascript_include_tag 'apartment_form' %>
